.section--team {
    background-color: var(--team-background);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__header {
    color: var(--black-text);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.team-list__thumb {
    height: 460px;
}

.team-list__images {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.team-list__items {
    margin-top: 30px;
}

.team-list__names {
    color: var(--black-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
