.container {
    padding: 0 15px;
    margin: 0 auto;

    min-width: 320px;
    max-width: 480px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.section {
    display: none;
}

.footer {
    display: none;
}

.section__header {
    color: var(--black-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.portfolio {
    background-color: white;
    padding-top: 94px;
    padding-bottom: 94px;
}
